{% extends "layouts/base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height: 45vh;">
      <div class="col-md-6">
          <h2 class="text-center mb-4">Celebrity Recognition AI</h2>
          <div class="card">
              <div class="card-body">
                  <form action="/celebrity/predict" method="post" enctype="multipart/form-data">
                      <!--Avatar-->
                      <div class="row justify-content-center align-items-center">
                        <div>
                          <div class="d-flex justify-content-center mb-4">
                              <img id="selectedAvatar" src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                              class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="example placeholder" />
                          </div>
                          <div class="d-flex justify-content-center">
                              <div class="btn btn-rounded" style="background-color: #1eb66B" id="input_group">
                                  <label class="form-label text-white m-1" style="background-color: #1eb66B" for="input_file">Upload Image</label>
                                  <input type="file" name="image" class="form-control d-none" id="input_file" onchange="displaySelectedImage(event, 'selectedAvatar')" />
                              </div>
                              <button type="submit" class="form-label btn btn-rounded text-white" style="background-color: #1eb66B" id="submit_form" hidden>
                                Predict
                              </button>
                          </div>
                        </div>
                      </div>
              
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function displaySelectedImage(event, elementId) {
    const selectedImage = document.getElementById(elementId);
    const fileInput = event.target;

    const input_group = document.getElementById("input_group");
    const submit_form = document.getElementById("submit_form");

    if (fileInput.files && fileInput.files[0]) {
        input_group.hidden = true
        submit_form.hidden = false

        const reader = new FileReader();

        reader.onload = function(e) {
            selectedImage.src = e.target.result;
        };

        reader.readAsDataURL(fileInput.files[0]);
    }
  }

</script>
{% endblock %}
