{% extends "layouts/base.html" %}

{% block content %}
<!-- Resultat de la prédiction -->
<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height: 45vh;">
      <div class="col-6">
          <h2 class="text-center mb-4 mt-4">Results</h2>
          <div class="card">
              <div class="row card-body align-items-center">
                  <canvas id="myChart"></canvas>
                  <div>
                      <button type="button" class="btn btn-link" onclick="window.location.href = '{{ url_for( 'home' ) }}';">Back</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>

  const ctx = document.getElementById('myChart');

  

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        '{{predicts.categories[0]}}',
        '{{predicts.categories[1]}}',
        '{{predicts.categories[2]}}',
        '{{predicts.categories[3]}}',
        '{{predicts.categories[4]}}',
        '{{predicts.categories[5]}}',
      ],
      datasets: [{
        label: '% Pourcentage %',
        data: {{predicts.probabilities}},
        backgroundColor: [
          'rgba(255, 99, 132, 0.5)',
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(75, 192, 192, 0.5)',
          'rgba(153, 102, 255, 0.5)',
          'rgba(255, 159, 64, 0.5)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  </script>
{% endblock %}








